<!--Obtem data e hora atuais-->
<% 
   // Data atual	 
	var atual = new Date();
	var ano = atual.getFullYear();
	var mes = atual.getMonth() + 1;
  var dia = atual.getDate();
  var data = ano+'-'+mes+'-'+dia;

 var hora = atual.getHours();	
var minutos = atual.getMinutes();

if( hora < 10 && minutos < 10)
    var time = '0'+hora+':'+'0'+minutos;

if(minutos< 10 && hora >= 10)
    var time = hora+':'+'0'+minutos;

if(hora< 10 && minutos >= 10)
    var time = '0'+hora+':'+minutos;

if(hora >= 10 && minutos >= 10)
    var time = hora+':'+minutos;
%>



<%- include('../headerLayout.ejs')%>

<div class="row">
    <div class="col-md-6">
    <h4>Cadastro de Recém-Nascidos</h4>
    <hr>
    <br>    
    <form id="myForm" action="/recemNasc/cadastro" method="post" >
            
             
          
         
        <div class="form-group">
            <label for="nome">* Nome:</label>
            <input id="nome" type="text" name="nome" required>
        </div>
        <div class="form-group">
                <label for="group1">* Sexo:</label>
            
                <label>
                  <input name="group1" id="radioF" type="radio" checked value="f"/>
                  <span>F</span>
                </label>
              
              
                <label>
                  <input name="group1" id="radioM" type="radio" value="m"/>
                  <span>M</span>
                </label>
              
        </div>
        <div class="form-group"> 
            <label for="date">* Data Nascimento:</label>
            <input id="dateNasc" type="date" name="date" value="<%=data%>" required>           
        </div>
        <div class="form-group"> 
                <label for="time">* Hora Nascimento:</label>
                <input id="timeNasc" type="time" name="time" value="<%=time%>">           
        </div>
        <div class="form-group"> 
                <label for="nomeMae">* Nome do Mãe:</label>
                <input id="nomeMae" type="text" name="nomeMae" required>           
        </div>
        <div class="form-group"> 
                <label for="nomePai">Nome do Pai:</label>
                <input id="nomePai" type="text" name="nomePai">           
        </div>
        <div class="form-group"> 
                <input id="idIncubadora" type="hidden" name="idIncubadora">           
        </div>
                         


         </form>

         <a class="btn btn-primary"title="Nova Incubadora" data-toggle="modal" data-target="#exampleModalCenter">
					 Selecionar Incubadora
				</a>
      
        <!-- Modal Structure -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Selecione uma Incubadora para Concluir</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                <div class="row">
          <div class="col-md-12">
           
            <br>  
        </div>
        
        <!-- Aqui é feito o loop e vai listando as incubadoras-->
        <% for(data of incubadoras){ %>

            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Incubadora
                            <span class="float-right">
                                <%= data.idIncubadora %>
                            </span>
                        </h4>
                        <p class="card-text">
                            
                                
                                <label>Descrição:</label>
                               
                              
                                    <br />


                                    <label>Status:</label>
                                    
                                            <b>vazia</b>

                                         
                                    <button onclick="cad('<%= data.idIncubadora %>')" data-dismiss="modal" class="btn waves-effect waves-light green float-right">Selecionar</button>
                            
                        </p>
                    </div>
                </div>
            </div>
            

            <% } %>
         </div>
      
                       

                </div>
                <div class="modal-footer">
                    
                    <button  class="btn waves-effect waves-light azul" data-dismiss="modal">Cancelar</button>
                    
                </div>
            </div>
        </div>
    </div>


    
   
  <div>
        
    
    </div>
  </div>
  
    
</div>


  <script>
     function cad(idIncubadora){

        document.getElementById('idIncubadora').value = idIncubadora;
        document.getElementById('myForm').submit();

     }
    


    
      $('#recemNasc').addClass('active');
 </script>




<%- include('../footerLayout.ejs')%>